BASE_URL_PATH: api
PORT: 8080
RPC_PORT: 8090

DB_HOST: localhost
DB_PORT: 5432
DB_USERNAME:
DB_PASSWORD:
DB_NAME:
DB_MAX_OPEN_CONN: 10
DB_MAX_IDLE_CONN: 10
DB_MAX_LIFE_TIME: 20

REDIS_ADDRESS: localhost:6379
REDIS_PASSWORD:
REDIS_DB: 0
